nav {
    background-image: url(/img/webdesign.png);
    height: 160px;
    display: flex;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 250px;
    justify-content: space-between;
}

#leftSideHeader {
    display: flex;
    background-color: white;
    margin-left: 10px;
    padding: 20px -30px 10pxpx 20px;
}

#superTitle {
    position: absolute;
    top: 250px;
    right: 100px;
    font-size: 33px;
    color: rgba(252, 252, 252, 0.637);
}

#topRightSpan {
    margin-left: 75px;
    font-size: 20px;
}

#rightSideHeader {
    display: flex;
}

#rightSideHeaderRighe {
    background-color: rgb(43, 136, 105);
}

#rightSideLeftSideHeader {
    float: right;
    margin-left: 290px;
}


#firstSection {
    display: flex;
    margin-top: 10px;
}

#heroH2FirstSection {
    margin-inline: 120px;
    font-size: 40px;
}

#superPara {
    margin-left: 300px;
}

#superFirstPara {
    font-size: 20px;
}

#secondSection {
    display: flex;
}

h4 {
    border-bottom: 2px solid rgb(46, 46, 46);
    width: 1250px;
    position: relative;
    left: 300px;
}

.secondSectionTitle {
    display: block;
}

#shuanMoore {
    margin-right: 10px;
    height: 350px;
}

#nameBox {
    margin: 10px 80px 10px 80px;
    width: 1100px;
    cursor: pointer;
}

#seconMainPara {
    width: 1000px;
    font-size: 21px;
}

.secondSectionTitle span {
    color: rgb(133, 161, 29);
    cursor: pointer;
}

#thiredSection {
    margin-top: 90px;
}

#heroBox {
    display: flex;
    flex-direction: row-reverse;
}

h3 {
    border-bottom: 2px solid rgb(46, 46, 46);
    width: 1190px;
    position: relative;
    left: 00px
}

.nameRow {
    margin: 10px 80px 10px 80px;
    width: 200px;
    cursor: pointer;
}

.rowSpan {
    color: rgb(133, 161, 29);
    cursor: pointer;
}

#thiredSection {
    font-size: 23px;
}

#fourthSection {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 50px;
}

.itamCols {
    display: block;
}

#AwardsTitle {
    border-bottom: none;
}

.boxes {
    display: flex;
    margin: 20px 10px 30px 300px
}

.boxes h2 {
    margin-left: 90px;
    font-size: 25px;
}

.boxes img {
    margin-top: 15px;
    background-color: rgba(196, 196, 196, 0.253);
    padding: 20px 20px 18px 20px;
}

.colsTitle {
    display: block;
    cursor: pointer;
}

.colsTitle span {
    color: rgb(133, 161, 29);
    cursor: pointer;
    margin-left: 70px;
}

#fivethSection {
    display: flex;
    margin: 60px 20px 20px 60px;
}

#titleSide {
    margin: 0px 70px 20px 120px;
}

#titleSide h2 {
    font-size: 30px;
    color: rgba(2, 2, 2, 0.747);
}

#titleSide p {
    font-size: 40px;
}

form {
    background-color: rgba(128, 128, 128, 0.158);
    width: 350px;
    padding: 20px;
    margin-left: 350px;
}

#name {
    width: 300px;
    padding: 15px 10px 15px 15px;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid gray;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
}

.buttons {
    margin-inline: 0px;
    width: 171px;
    background-color: rgba(240, 248, 255, 0);
    padding: 10px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.616);
    cursor: pointer;
    transition: 0.5s;
}

.buttons:hover {
    background-color: rgb(175, 175, 175);
    transition: 0.5s;
}

#Email {
    width: 50%;
    padding: 15px 10px 15px 15px;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid gray;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
}

#Location {
    width: 300px;
    padding: 15px 10px 15px 15px;
    border: none;
    border-bottom: 1px solid rgb(212, 212, 212);
    border-bottom: 1px solid gray;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
}

#checkbox {
    width: 300px;
    padding: 15px 10px 15px 15px;
    border: none;
    border: 1px solid gray;
    margin: 10px;
    background-color: rgba(240, 248, 255, 0);
}

#checkboxtitle {
    color: gray;
}

#submit {
    float: right;
    background-color: rgb(77, 182, 133);
    border: none;
    padding: 10px 16px 10px 16px;
    margin: 2px;
    cursor: pointer;
    transition: 0.5s;
}

#submit:hover {
    background-color: rgb(45, 109, 79);
    color: rgb(238, 238, 238);
    transition: 0.5s;
}

footer {
    display: flex;
    background-color: rgb(161, 161, 161);
}

#footerPart1 {
    font-size: 30px;
    position: relative;
    top: 150px;
    margin-left: 90px;
    margin-right: 200px;
}

#footerPart2 {
    background-color: white;
    margin: 70px 10px 70px 200px;
    border-radius: 5px;
    padding: 40px 40px 40px 40px;
    font-size: 30px;
    cursor: pointer;
}

#footerPart3 {
    cursor: pointer;
    background-color: white;
    margin: 70px 70px 70px 20px;
    border-radius: 5px;
    padding: 40px 40px 40px 40px;
    font-size: 30px;
}
